.screen_1{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(backgraund_5.jpg) center no-repeat;
    background-size: cover;
}

.screen_1_title{
    width: 95%;
    height: 80%;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.video{
    border-radius: 30px;
}

.screen_1_bot{
    color: white;
    margin-top: 50px;
}